@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";


@theme {
  --font-sans: "Mona Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-dark-200: #475467;
  --color-light-blue-100: #c1d3f81a;
  --color-light-blue-200: #a7bff14d;

  --color-badge-green: #d5faf1;
  --color-badge-red: #f9e3e2;
  --color-badge-yellow: #fceed8;

  --color-badge-green-text: #254d4a;
  --color-badge-red-text: #752522;
  --color-badge-yellow-text: #73321b;
}

html,
body {
  @apply bg-white;
}
main {
  @apply min-h-screen pt-10;
}
h1 {
  @apply max-sm:text-[3rem] text-6xl  text-gradient leading-tight xl:tracking-[-2px] font-semibold;
}
label {
  @apply text-dark-200;
}
input {
  @apply w-full p-4 inset-shadow rounded-2xl focus:outline-none bg-white;
}
textarea {
  @apply w-full p-4 inset-shadow rounded-2xl focus:outline-none bg-white;
}

form {
  @apply flex flex-col items-start gap-8 w-full;
}